.wrapper-form {
  border: 2px solid #d30051;
  background-color: white;
  padding: 40px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.wrapper-form h1 {
  margin-bottom: 15px;
  padding-top: 0px;
}

.ingredients {
  padding-top: 20px;
}

